################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/TPGestionFilm/v15
/packages
/GestionFilmDM/GestionFilmDM.jfm
/GestionFilmDM/GestionFilmDM.dbmdl
